<h2 class="text-center">Searchs</h2>
<hr />
<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Search Country
  </a>
  <a
    class="list-group-item list-group-item-action"
    routerLink="capital"
    routerLinkActive="active"
  >
    By Capital
  </a>
  <a
    class="list-group-item list-group-item-action"
    routerLink="region"
    routerLinkActive="active"
  >
    By Region
  </a>
</div>
